@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
body {
  background-color: #F4F4F4;
}
html, body {
  height: auto;
  margin: 0;
}
button:focus, input:focus, textarea:focus {
  outline: none;
}
p,
span,
H1,
H2,
H3,
H5,
H6,
h1,
h2,
h3,
h4,
h5,
h6,
small,
button,
div,
th,
td,
label,
input,
textarea {
  margin: 0;
  outline: none;
  resize: none;
}
th {
  text-align: inherit;
}
table {
  border-collapse: collapse;
}
a, a:-webkit-any-link {
  text-decoration: none;
}
button--invert, button {
  outline: none;
  border: none;
  border-radius: calc(1rem * 2);
  background-color: #5963ff;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
button--invert img, button img {
  height: 1rem;
}
.flex-column-wrap, .flex-column, .flex-row-wrap, .flex-row, .flex {
  display: flex;
}
.flex-row-wrap, .flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column-wrap, .flex-column {
  flex-direction: column;
}
.flex-column-wrap, .flex-row-wrap {
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #b9bfc7;
  font-family: "Roboto", serif;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: #e6e9ed;
  margin: 1.5rem 0;
  border-radius: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #b9bfc7;
  border-radius: 1rem;
  border: 2px solid #b9bfc7;
}
html {
  font-size: 100%;
}
html,
body {
  background-color: #eaedef;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
input {
  text-align: center;
}
.button {
  cursor: pointer;
}
.button.selected {
  font-weight: 600 !important;
  color: #5963ff;
  border-color: #5963ff !important;
}
button--invert {
  border: "2px solid";
  border-color: #5963ff;
  border-radius: calc(1rem * 2);
  background-color: #fff;
  color: #5963ff;
}
button.selected {
  font-weight: 600 !important;
  color: #5963ff;
  border-color: #5963ff !important;
}
button:hover {
  filter: invert(0.05);
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
@media (max-width: 130rem) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 130rem) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 65rem) {
  html {
    font-size: 48%;
  }
}
.root {
  width: 100%;
  height: 100%;
}
.header {
  height: auto;
  width: 100%;
}
.header .right {
  width: 50%;
}
.main {
  justify-content: space-between;
  height: 100%;
}
@-moz-document url-prefix() {
  .kukai-card div.seed-blur {
    position: relative;
    background-color: #eeeeee !important;
  }
}
.kukai-card {
  /* Step 4 */
}
.kukai-card h1, .kukai-card span, .kukai-card p, .kukai-card div.whitebox {
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 0;
  max-width: 34rem;
  padding: 0 0.5rem;
}
.kukai-card div.whitebox {
  font-size: 1rem;
  line-height: 1.5rem;
  width: calc(100% - 2.5rem);
  height: 8.5rem;
  z-index: 1;
  color: black;
  padding: 1.25rem;
  border: 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  font-weight: bold;
}
.kukai-card div.whitebox.final {
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.kukai-card div.whitebox .buttons {
  margin-top: 1rem;
}
.kukai-card small {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.32px;
  color: #393939;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  width: 28rem;
}
.kukai-card small.grey {
  margin-top: 0.25rem;
  margin-bottom: -1.25rem;
  color: #393939;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
.kukai-card input.text, .kukai-card textarea.text {
  width: calc(100% - 6rem);
  background: #d9d9d9;
  border-radius: 0.75rem;
  border: 0px solid;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  color: #393939;
}
.kukai-card input.text[disabled] {
  color: #808080;
}
.kukai-card textarea.text {
  height: 7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  resize: none;
}
.kukai-card ::-webkit-input-placeholder, .kukai-card ::-moz-input-placeholder, .kukai-card :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.kukai-card p.description.bold.pkh {
  margin-top: 2rem;
}
.kukai-card div.seed-blur {
  margin-top: -8.5rem;
  margin-bottom: 0.0625rem;
  height: 8.5rem;
  width: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 0.75rem;
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.kukai-card div.buttons {
  margin: 3rem 2rem 1.5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.kukai-card div.whitebox div.buttons.single, .kukai-card div.buttons.single {
  margin-top: 2rem;
  justify-content: center;
  width: auto;
}
.kukai-card div.buttons.single.finish {
  margin-top: 2.5rem;
}
.kukai-card div.buttons.single button:hover {
  margin-bottom: 0.125rem;
}
.kukai-card a {
  color: inherit;
  text-decoration: inherit;
}
.kukai-card input:focus, .kukai-card textarea:focus {
  outline: none;
}
.kukai-card div.word-verify {
  margin-top: 2.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}
.kukai-card div.word-input > input {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 17.5rem;
  border-radius: 0.75rem;
  text-align: center;
  border-width: 0;
  background: rgba(0, 0, 0, 0.08);
}
.kukai-card span.word-index {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.32px;
  color: black;
}
.kukai-card div.word-hint {
  width: 9.5rem;
}
.kukai-card div.word-hint > span.word-value {
  display: block;
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.16px;
  color: black;
  opacity: 0.6;
}
.kukai-card progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  width: 28rem;
  height: 0.5rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  border-radius: 4px;
}
.kukai-card progress::-webkit-progress-bar, .kukai-card progress {
  background-color: #e1e1e1;
  border-radius: 4px;
  width: 100%;
}
.kukai-card progress {
  color: #5963FF;
  border-radius: 20px;
}
.kukai-card progress::-moz-progress-bar {
  background-color: #5963FF !important;
  border-radius: 20px;
}
.kukai-card progress::-webkit-progress-value {
  background-color: #5963FF !important;
  border-radius: 20px;
}
.kukai-card button {
  border-radius: 0.75rem;
  width: 8rem;
  height: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
.kukai-card button:hover {
  margin-top: -0.125rem;
}
.kukai-card button.next {
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
}
.kukai-card button.back {
  color: #727AFD;
  background: rgba(114, 122, 253, 0.16);
}
.kukai-card button.disabled-button {
  pointer-events: none;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -khtml-opacity: 0.4;
}
.kukai-card span, .kukai-card p {
  font-weight: normal;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 2rem;
}
.kukai-card span.black {
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
}
.kukai-card span.step-counter {
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  margin-top: 2.5rem;
  width: 100%;
  text-align: center;
  max-width: 100%;
}
.kukai-card h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}
.kukai-card p.description {
  margin-top: 1.5rem;
}
.kukai-card p.description.bold {
  font-weight: bold;
  font-size: 1rem;
}
.kukai-card .grey-card p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 2.5rem 1.5rem 0;
}
.kukai-card div.grey-card {
  margin-top: 3rem;
  width: 32rem;
  background: white;
  background: #F4F4F4;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 8px 25px #8883;
  border-radius: 0.75rem;
}
.kukai-card div.grey-card div.switch-container {
  margin-left: 2rem;
}
.kukai-card div.grey-card p, .kukai-card div.grey-card span {
  color: #303030;
}
.kukai-card div.grey-card p.description.blue {
  color: #5963FF;
}
.kukai-card div.grey-card p.description.red {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C83532;
}
/*
@media screen and (max-width: 30rem) {
  .kukai-card div.whitebox {
    margin-top: 4rem;
    width: 22rem;
    height: 11.5rem;
  }
  .kukai-card div.seed-blur {
    width: 22rem;
    height: 11.5rem;
    margin-top: -11.5625rem;
  }
}*/
/* Step 2 */
/*
@media screen and (max-width: 36rem) {
  .kukai-card div.word-input {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 32rem) {
  .kukai-card div.word-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .kukai-card div.word-input > input {
    width: 10rem;
  }
  .kukai-card progress[value] {
    width: 20rem;
  }
}*/
/* Step 3 */
@media screen and (max-width: 32.5rem) {
  .kukai-card div.grey-card {
    width: 21.875rem;
    /*width: 22.5rem;*/
  }
  .kukai-card progress[value], .kukai-card small, .kukai-card input.text, .kukai-card textarea.text {
    width: calc(100% - 4rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .kukai-card div.seed-blur, .kukai-card div.whitebox {
    height: 9.5rem;
  }
  .kukai-card div.seed-blur {
    margin-top: -9.5rem;
  }
  .kukai-card p.description.bold.pkh {
    margin-top: 0.75rem;
    font-size: 0.9375rem;
  }
  .kukai-card div.grey-card div.switch-container {
    margin-left: 1rem;
  }
  .kukai-card div.buttons {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 20rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal */
div.kukai-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
div.kukai-modal span.no-margin, div.kukai-modal span.margin {
  color: #FF0000;
}
div.kukai-modal span.no-margin {
  margin-top: 0.75rem;
  margin-bottom: -1.75rem;
  color: #FF0000;
}
div.kukai-modal div.group {
  margin-top: 1.5rem;
}
div.kukai-modal input.text, div.kukai-modal textarea.text {
  width: calc(100% - 2rem);
  background: #E1E1E1;
  border-radius: 0.75rem;
  height: 3rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
}
div.kukai-modal input.text.password {
  width: 200%;
  margin-right: 1rem;
}
div.kukai-modal input.text::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
div.kukai-modal input.text::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
div.kukai-modal textarea.text {
  padding-top: 0.5rem;
  height: 7rem;
  line-height: 1.25rem;
  resize: none;
}
div.kukai-modal input.text::-moz-placeholder, div.kukai-modal textarea.text::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
div.kukai-modal input.text::placeholder, div.kukai-modal textarea.text::placeholder {
  color: #808080;
  opacity: 1;
}
div.kukai-modal textarea.text::placeholder, div.kukai-modal textarea.text::-webkit-input-placeholder, div.kukai-modal textarea.text:-ms-input-placeholder {
  padding-top: 0.5rem;
  line-height: 1.25rem;
}
div.kukai-modal div.row-group {
  display: flex;
  justify-content: space-between;
}
div.kukai-modal div.row-group > div.group:first-child {
  margin-right: 1rem;
}
div.kukai-modal div.advanced {
  margin-top: 1.5rem;
}
div.kukai-modal button.blue {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
  width: 100%;
  height: 3rem;
  border-radius: 0.75rem;
  border: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
div.kukai-modal button.blue.confirm, div.kukai-modal button.retry {
  height: 3rem;
  margin: 0;
}
div.kukai-modal button.retry {
  width: 100%;
  font-size: 1rem;
  background-color: #d3d3d3;
  color: #212529;
}
div.kukai-modal button:focus {
  outline: none;
}
div.kukai-modal div.switch-container {
  width: auto !important;
}
div.kukai-modal button.small {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 1.5rem;
  color: #000000;
  opacity: 0.6;
  background: rgba(214, 214, 214, 0.4);
  border-radius: 0.3125rem;
  border: 0;
}
div.kukai-modal button.small.max {
  background: #d5f2dc;
}
div.kukai-modal button.small.multiple-destinations {
  color: #5963FF;
  opacity: 1;
  margin: 1rem 1.5rem;
}
div.kukai-modal div.advanced > div.row-group {
  height: 1.5rem;
}
div.kukai-modal div.x {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  z-index: 120;
  background: #FCFCFC;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
div.kukai-modal p.previewAttention {
  color: #CD0000;
  font-size: 0.875rem;
  line-height: 1rem;
}
div.kukai-modal input.custom-large:disabled {
  background-color: rgba(0, 0, 0, 0);
}
div.kukai-modal input:focus, div.kukai-modal textarea:focus {
  outline: none;
}
div.kukai-modal span.tez {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p.fee {
  margin-top: 0.375rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p.preview {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}
div.kukai-modal td, div.kukai-modal th {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
  opacity: 0.6;
}
div.kukai-modal th {
  font-weight: bold;
}
div.kukai-modal div.amount {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 5rem;
}
div.kukai-modal input.custom-large {
  width: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 5rem;
  color: #2C323A;
  background: #fcfcfc;
  opacity: 0.4;
  padding: 0;
  text-align: center;
  border: 0;
}
div.kukai-modal.top {
  z-index: 101;
}
div.kukai-modal > div.km-content {
  position: relative;
  background-color: #fcfcfc;
  margin: 5rem auto;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  width: 25rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}
div.kukai-modal > div.km-content > div.km-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
div.kukai-modal.confirm > div.km-content {
  -webkit-animation-name: none;
  -webkit-animation-duration: none;
  animation-name: none;
  animation-duration: none;
}
div.km-header > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #2c323a;
  margin: 1rem;
}
div.km-header > span.close {
  margin: 0.25rem 0.5rem;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
div.km-header > span.close:hover, div.km-header > span.close:focus {
  color: #2c323a;
  text-decoration: none;
  cursor: pointer;
}
div.km-body {
  margin: 1rem;
}
div.km-content label:not(.switch) {
  margin-bottom: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
  color: #2C323A;
  opacity: 0.4;
}
div.kukai-modal p,
span.danger {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
@media screen and (max-width: 27rem) {
  div.kukai-modal div.x {
    right: -1px;
    border-bottom-right-radius: 0;
  }

  div.kukai-modal button.small.multiple-destinations {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 25rem) {
  div.kukai-modal > div.km-content {
    width: 23rem;
  }

  div.kukai-modal input.text.password {
    width: 11rem;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin-bottom: 0;
}
.switch input {
  opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  left: 0.1875rem;
  bottom: 0.1875rem;
  background-color: #7B7B7B;
  transition: 0.4s;
}
.slider.round {
  border-radius: 2.125rem;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
}
input:checked + .slider:before {
  background-color: #5963FF;
  transform: translateX(1.5rem);
}
input:checked + .slider {
  background-color: rgba(89, 99, 255, 0.4);
}
div.kukai-card > div.grey-card > div.switch-container > span.switch-desc,
span.switch-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #161616;
  margin-left: 0.5rem;
}
div.switch-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 28rem;
}
small {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.32px;
  color: #393939;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 29rem) {
  div.switch-container {
    width: 20rem;
  }
}
